{% extends "base.html" %}
{% load story_extras %}
{% load url from future %}
{% load static from staticfiles %}
{% load greaterthan %}

{% block head %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/vote.js" %}"></script>
{% endblock head %}
{% block content %}
<ol>
{% for story in stories %}
    <li>
        <p class="story-title">
            {% if user.is_authenticated and story not in liked_stories %}
                <a href="/vote/" id="story-vote-{{ story.id }}" class="vote"><img src="{% static "images/arrow.gif" %}"></a>
                <a href="{{ story.url }}" id="story-title-{{ story.id }}">{{ story.title }}</a> <span class="domain">({{ story.domain }})</span>
            {% else %}
                <a href="{{ story.url }}" style="margin-left: 15px;">{{ story.title }}</a> <span class="domain">({{ story.domain }})</span>
            {% endif %}
        </p>
        <p class='story-info'>
            {{ story.points }} points by {{ story.moderator.username }} {{ story.created_at|age }} 
            {% for tag in story.tags.all %}
                {% if story.tags.all|length|gt:1 %}
                    | {{tag}}
                {% else %}    
                    | {{tag}} 
                {% endif %}    
             {% endfor %}
        </p>
    </li>
{% endfor %}
</ol>
{% endblock content %}
